<div class="container mt-4">
  <h2>Listado de Países</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Idioma Oficial</th>
        <th>Capital</th>
        <th>Año de Conformación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pais of listaPaises">
        <td>{{ pais.nombre }}</td>
        <td>{{ pais.idioma }}</td>
        <td>{{ pais.capital }}</td>
        <td>{{ pais.year }}</td>
      </tr>
    </tbody>
  </table>
</div>
